.App {
  text-align: center;
  margin: auto;
}

button {
  background-color: #bb1127;
  color: white;
  border-radius: 10px !important;
  box-shadow: 3px 4px 7px grey;
  border: 0;
  padding: 10px;
  margin: 5px !important;
}

button:hover {
  background-color: #5a5a5f;
  border-radius: 10px !important;
}

input {
  padding: 10px;
  border-radius: 10px !important;
  border: 1px solid #5a5a5f;
  margin: 10px !important;
}

input:focus {
  border: 0;
}
